<section class="section-event">
    <div class="wrap-slick2">
        <div class="slick2">
            <div class="item-slick2 item1-slick2 event" style="background-image: url(assets/img/bg-event-01.jpg);">
                <div class="wrap-content-slide2 p-t-115 p-b-208">
                    <div class="container">
                        <div class="title-event ext-center m-b-52">
                            <span class="text-Danger ">
                                            Upcomming
                                        </span>

                            <h3 class="tit6 text-center  text-light p-l-15 p-r-15 p-t-3">
                                Events
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        he
    </div>

</section> -->

<!-- <section id="boxes" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center mb-resp">
                    <div class="card-body">
                        <h5>Gaytri Jainti</h5>
                        <h6>21 JUN 2020</h6>
                        <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-dark text-white mb-resp">
                    <div class="card-body">
                        <h5>Guru Purnima</h5>
                        <h6>21 JUL 2020</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center mb-resp">
                    <div class="card-body">
                        <h5>Ganesh Chaturthi</h5>
                        <h6>21 AUG 2020</h6>
                        <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-dark text-white">
                    <div class="card-body">
                        <h5>Ram Novmi</h5>
                        <h6>21 OCT 2020</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->