<section
  class="ftco-section-3 img"
  style="background-image: url(/assets/img/bg-event-01.jpg);"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div
          class="img img-2 align-self-stretch"
          style="background-image: url(/assets/img/);"
        ></div>
      </div>
      <div class="col-md-6 volunteer pl-md-5 ftco-animate">
        <h3 class="text-light mb-3">Be a volunteer</h3>
        <form action="#" class="volunter-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email" />
          </div>
          <div class="form-group">
            <textarea
              name=""
              id=""
              cols="30"
              rows="3"
              class="form-control"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Send Message"
              class="btn btn-danger py-3 px-5"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
