<!-- <header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <h1 class="display-4 text-light text-center">
        <strong>{{ title }}</strong>
      </h1>
      <p class="lead text-light text-center">
        <strong
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
          "
          >Cow is the source of progress and prosperity. In many ways it is
          superior to one’s mother.</strong
        >
      </p>
    </div>
  </div>
</header> -->
<app-img-carousel [detailedObject]="detaildObject"></app-img-carousel>

<section id="about" class="py-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="/assets/img/goushala/krishanaCow.jpg"
          alt=""
          class="img-fluid rounded-circle d-none d-md-block about-img"
        />
      </div>
      <div class="col-md-6 mt-5">
        <h1>Facts about Indian cows</h1>
        <p>
          Indian breeds have a large hump on top of their shoulder and neck.
        </p>
        <p>
          There are 40 recognized cattle breeds in India as per the National
          Bureau of Animal Genetic Resources (2016 report), of which some are on
          the verge of extinction.
        </p>
        <p>
          The specialty of Indian exotic breeds is that they serve multiple
          purposes and their characteristics make them fit for hot and local
          conditions. The hair, coat, pigmentation, ability to sweat, loose skin
          and internal body heat are the unique characteristics of Indian cattle
          which makes them best suited for any adverse climatic conditions.
        </p>
        <p>
          These cows have noteworthy pest and disease resistance power and they
          adjust to feed and fodder.
        </p>
      </div>
    </div>
  </div>
</section>
<header id="detail-section">
  <div class="detail-dark-overlay">
    <div class="home-inner container">
      <section id="about" class="py-3 mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-light">
              <h1>
                Benefits of indigenous cows
              </h1>
              <h6 class="text-underline">Cow Milk</h6>
              <p>
                Cow milk is both sattvic (of purifying quality) and nutritious.
                Usually, dairy milk sold at stores contains mixtures of milk
                from various breeds, including buffalo milk, which is high in
                fat content and tamasic (of lethargic quality). Indigenous
                Indian cow milk contains vitamin A2, B, D, E, K, 7 types of
                minerals, 21 types of Amino Acid, 22 types of salt and 24 types
                of enzymes in an easy digestive form.
              </p>
              <h6>Cow Dunk</h6>
              <p>
                For natural farming, manure is the best fertilizer containing
                natural pesticides. Dried dung cakes are used as fuel for
                cooking. Dung collected in a special vat creates biogas, which
                may be used to provide a stable source of electricity in
                villages. Fresh cow dung kills bacteria that cause malaria and
                TB.
              </p>
              <h6>Useful Urine</h6>
              <p>
                Distilled urine (gomutra) is a miracle medicine that cures a
                broad spectrum of diseases: from skin disorders to diabetes to
                cancer. Sri Sri Ayurveda Hospital and Sri Sri Panchakarma have
                demonstrated the success of gomutra in curing chronic ailments.
                Cow urine also contains iron, calcium, phosphorus, carbonic
                acid, potash, and lactose. It contains 24 types of salt and
                several useful medicines are made from cow urine.
              </p>
            </div>
            <div class="col-md-6 mt-4">
              <img
                src="/assets/img/goushala/gushala002.jpg"
                alt=""
                class="img-fluid rounded-circle d-none d-md-block about-img"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

<section id="about" class="py-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="/assets/img/goushala/gaushala006.jpg"
          alt=""
          class="img-fluid rounded-circle d-none d-md-block about-img"
        />
      </div>
      <div class="col-md-6 mt-5">
        <h1>About Our Gaushala</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga
          eaque. Amet, assumenda aliquid tempore dolorum error eveniet doloribus
          sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium
          pariatur aut sint deleniti laborum ducimus voluptatem? Architecto
          cumque quod suscipit officiis soluta, voluptate dicta blanditiis
          similique praesentium temporibus adipisci debitis labore!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga
          eaque. Amet, assumenda aliquid tempore dolorum error eveniet doloribus
          sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium
          pariatur aut sint deleniti laborum ducimus voluptatem? Architecto
          cumque quod suscipit officiis soluta, voluptate dicta blanditiis
          similique praesentium temporibus adipisci debitis labore!
        </p>
      </div>
    </div>
  </div>
</section>

<header id="img-section">
  <div class="img-dark-overlay">
    <div class="home-inner container">
      <section id="about" class="">
        <div class="container">
          <h1 class="text-center display-4 text-light py-4">
            <strong>Image Gallery</strong>
          </h1>
          <app-image-gallery-page
            [componentName]="title"
          ></app-image-gallery-page>
        </div>
      </section>
    </div>
  </div>
</header>
<app-footer></app-footer>
<!-- <app-image-gallery-page></app-image-gallery-page> -->
