<section id="authors" class="my-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-primary pb-3">
            Our Services
          </h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laborum numquam aperiam dolores a porro!
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-around row">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <img src="/assets/img/gp3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Susan Williams</h3>
            <h5 class="text-muted">Lead Writer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.
            </p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="/assets/img/booksgp3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Grace Smith</h3>
            <h5 class="text-muted">Co-Writer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.
            </p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="/assets/img/gp3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>John Doe</h3>
            <h5 class="text-muted">Editor</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.
            </p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="/assets/img/booksgp3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Grace Smith</h3>
            <h5 class="text-muted">Co-Writer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.
            </p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="/assets/img/sanskargp.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>John Doe</h3>
            <h5 class="text-muted">Editor</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.
            </p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="/assets/img/gp3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Kevin Swanson</h3>
            <h5 class="text-muted">Designer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.
            </p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
