<app-img-carousel [detailedObject]="detaildObject"></app-img-carousel>
<div class="common_style">
  <!-- about section -->
  <section class="about_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about_img-container">
            <img src="/assets/img/school/school001.JPG" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="about_detail-box">
            <h3>
              About our School
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- why section -->
  <section class="why_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="why_img-container">
            <img src="/assets/img/school/school003.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="determine_detail-box">
            <h3>
              Why learn on "Maa Bhagawti Vidhiyalay Niketan"
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- determine section -->
  <section class="determine_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="determine_img-container">
            <img src="/assets/img/school/students.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <h3>
              Datermine the right for you
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- client section -->
<section
  class="client_section layout_padding"
  style="background-image: url(/assets/img/bg-event-01.jpg);"
>
  <h2 class="text-center text-light py-5">
    Our Super Star
  </h2>
  <div class="container">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3">
              <div class="client_img-box">
                <img src="/assets/img/school/client.png" alt="" />
              </div>
            </div>
            <div class="col-md-9">
              <div class="client_detail-box text-light">
                <h5>
                  Alex Du
                </h5>
                <p class="py-5 ml-2 text-light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3">
              <div class="client_img-box">
                <img src="/assets/img/school/client.png" alt="" />
              </div>
            </div>
            <div class="col-md-9">
              <div class="client_detail-box">
                <h5 class="text-light">
                  Alex Du
                </h5>
                <p class="py-5 ml-2 text-light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3">
              <div class="client_img-box">
                <img src="/assets/img/school/client.png" alt="" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="client_detail-box">
                <h5 class="text-light">
                  Alex Du
                </h5>
                <p class="py-5 ml-2 text-light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div style="background-color: white;">...</div>
<section id="img-section">
  <div class="img-dark-overlay">
    <div class="home-inner container">
      <section id="about" class="">
        <div class="container">
          <h1 class="text-center display-4 text-light py-4">
            <strong>Image Gallery</strong>
          </h1>
          <app-image-gallery-page
            [componentName]="title"
          ></app-image-gallery-page>
        
        </div>
      </section>
    </div>
  </div>
</section> -->
<header id="img-section">
  <div class="img-dark-overlay">
    <div class="home-inner container">
      <section id="about" class="">
        <div class="container">
          <h1 class="text-center display-4 text-light py-4">
            <strong>Image Gallery</strong>
          </h1>
          <app-image-gallery-page
            [componentName]="title"
          ></app-image-gallery-page>
        </div>
      </section>
    </div>
  </div>
</header>
<app-footer></app-footer>
