<section class="mb-5 py-5">
  <app-nav-bar></app-nav-bar>
</section>
<section>
  <div class="row">
    <div class="col">
      <h1 class="display-2 text-center">Donation</h1>
    </div>
  </div>
  <div class="row py-5 mt-5">
    <div class="col-md-6">
      <div><h4 class="text-center">Time Donation</h4></div>
      <div class="px-5">
        <p>
          Time Donation An unambiguous wake-up call has gone forth from the
          deeps of the Eternal Timeless Spirit for humanity to cooperate in the
          ushering in of a New Era of Harmony, Hope and Peace The new millennium
          has unfolded with unprecedented moments of great change. After
          industrial, scientific and economic revolutions, we are now heading
          towards a spiritual revolution. Without this we cannot dream of peace,
          harmony and happiness. There were few who predicted the change, there
          are many who are resisting the change, there are some who are waiting
          for the change, but be the one to effectuate the change.
        </p>
        <div class="h6">
          For Details Contact DIYA Suchita Shetty (08169948780) DIYA Gayatri
          Nayak (09819889440) DIYA Hitesh Joshi (09821676981. Available 7pm-9pm
          on Weekdays)
        </div>
      </div>
    </div>
    <div class="col-md-6 px-5">
      <div><h4 class="text-center">Find Bank Details Below:</h4></div>
      <div class="row">
        <div class="col-md-4 h6">Title of account :</div>
        <div class="col-md-8">
          SHRI VEDMATA GAYATRI TRUST A/C YOUTH GROUP (Cheque should be drawn on
          this name)
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 h6">Bank :</div>
        <div class="col-md-8">Axis Bank Limited</div>
      </div>
      <div class="row">
        <div class="col-md-4 h6">Account no :</div>
        <div class="col-md-8">156010100120715 (15 DIGIT)</div>
      </div>
      <div class="row">
        <div class="col-md-4 h6">Branch Address :</div>
        <div class="col-md-8">
          Bharat Bazar , 16-Adarsh Gram, Dehradun Road, Rishikesh, Uttaranchal-
          249201
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 h6">NEFT/IFSC Code :</div>
        <div class="col-md-8">
          UTIB0000156(11 DIGIT) MICR Code : 249211002 (9 DIGIT)
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 h6">Account Type :</div>
        <div class="col-md-8">Saving</div>
      </div>
    </div>
  </div>
</section>
