<header
  id="home-section"
  [ngStyle]="{
    'background-image': 'url(' + imgUrl + ')',
    'min-height': +imgMinHeight + 'px'
  }"
>
  <div
    class="dark-overlay"
    [ngStyle]="{
      'min-height': +overlayMinImg + 'px'
    }"
  >
    <div class="home-inner container">
      <div class="row">
        <div class="col">
          <h1 class="display-3 text-center text-light">
            <strong>{{ pageTitle }}</strong>
          </h1>
          <h3 class="lead text-light text-center">
            <strong>{{ discription }}</strong>
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>
