<!-- <p>sanskar works!</p>
<app-image-gallery-page></app-image-gallery-page> -->

<!-- HOME SECTION -->
<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row">
        <div class="col d-none d-lg-block">
          <h1 class="display-2 text-light text-center">
            <strong>Sanskars</strong>

            <div class="row">
              <div class="col">
                <h5>
                  As per Hinduism, the Sanskar is a series of sacraments,
                  sacrifices and rituals that serve as rites of passage and mark
                  the various stages of the human life and to signify entry to a
                  particular Ashrama (i.e. stage of life). The Sanskar is said
                  to be helping for achieving spiritual nourishment, peace of
                  mind and ultimately moksha. Sanskar give a spiritual touch to
                  the important events at different stages of a Hindu life –
                  right from pre-birth to post-death
                </h5>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <button
                  class="btn btn-outline-warning"
                  data-toggle="modal"
                  data-target="#registrationModal"
                >
                  Sanskar Registration
                </button>
              </div>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- LOGIN MODAL TRIGGER -->

<!-- LOGIN MODAL -->
<div class="modal animate__animated animate__zoomInDown" id="registrationModal">
  <div class="modal-dialog modal-lg modal-full-height modal-right">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Sankar Registration</h3>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-md"
              placeholder="Full Name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control form-control-md"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-md"
              placeholder="Mobile No."
            />
          </div>
          <div class="form-group">
            <select class="form-control form-control-md" placeholder="sankskar">
              <option>Select Sanskar</option>
              <option>Yagyo Pabitra</option>
              <option>Vivah divash</option>
              <option>Janm divash</option>
              <option>Punsak Sankskar</option>
              <option>Annaprashan Sanskar</option>
              <option>Vidhiya Arambh Sanskar</option>
            </select>
            <!-- <input
              type="text"
              
            /> -->
          </div>
          <div class="form-group">
            <input
              type="date"
              class="form-control form-control-md"
              placeholder="Sanskar Date"
            />
          </div>
          <div class="form-group">
            <textarea
              type="textarea"
              class="form-control form-control-md"
              placeholder="Message"
            ></textarea>
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-outline-light btn-block btn-danger"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<section id="explore-head-section" style="background-color: #333;">
  <div class="container">
    <div class="row">
      <div class="col text-center text-light py-5">
        <h1 style="color: rgb(255, 0, 0);">
          <strong>Thoughts Of The Day</strong>
        </h1>
        <p class="lead display-4">
          To <strong class="text-warning">Be Good</strong> and To
          <strong class="text-warning">Do Good</strong> Is Ths Whole Of
          Religinon.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="/assets/img/sanskar/vasant002.JPG"
          alt=""
          class="img-fluid mb-3 rounded-circle"
        />
      </div>
      <div class="col-md-6">
        <h3>What is Sanskar</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore
          reiciendis, voluptate at alias laborum odit aliquid tempore
          perspiciatis repudiandae hic?
        </p>
        <div class="d-flex">
          <div class="p-4 align-self-end">
            * Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
            distinctio iusto, perspiciatis mollitia natus harum?
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-end">
            * Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
            distinctio iusto, perspiciatis mollitia natus harum?
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="create-head-section" class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5 text-light">
        <!-- <h1 class="display-4">Create</h1> -->
        <p class="lead display-4 text-light">
          <strong>
            Our thoughts hold the power to build, bend or break our
            circumstances.</strong
          >
        </p>
        <!-- <a href="#" class="btn btn-outline-light">Find Out More</a> -->
      </div>
    </div>
  </div>
</section>

<!-- CREATE SECTION -->
<section id="create-section" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2">
        <img
          src="/assets/img/sanskar/sanskar001.webp"
          alt=""
          class="img-fluid mb-3 rounded-circle"
        />
      </div>
      <div class="col-md-6 order-1">
        <h3>Why is Sankskar Required</h3>
        <div class="py-4">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore
            reiciendis, voluptate at alias laborum odit aliquid tempore
            perspiciatis repudiandae hic? Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Labore reiciendis, voluptate at alias
            laborum odit aliquid tempore Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Labore reiciendis, voluptate at alias laborum odit
            aliquid tempore perspiciatis repudiandae hic?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore
            reiciendis, voluptate at alias laborum odit aliquid tempore Lorem
            ipsum dolor, sit amet consectetur adipisicing elit. Labore
            reiciendis, voluptate at alias laborum odit aliquid tempore
            perspiciatis repudiandae hic? Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Labore reiciendis, voluptate at alias
            laborum odit aliquid tempore Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Labore reiciendis, voluptate at alias laborum odit
            aliquid tempore perspiciatis repudiandae hic?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="client_section layout_padding"
  style="background-image: url(/assets/img/sanskar/bg-hill.jpg);"
>
  <!-- <h2 class="text-center text-light py-5">
    Our Super Star
  </h2> -->
  <!-- <div class="container">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3">
              <div class="client_img-box">
                <img src="/assets/img/school/client.png" alt="" />
              </div>
            </div>
            <div class="col-md-9">
              <div class="client_detail-box text-light">
                <h5>
                  Alex Du
                </h5>
                <p class="py-5 ml-2 text-light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3">
              <div class="client_img-box">
                <img src="/assets/img/school/client.png" alt="" />
              </div>
            </div>
            <div class="col-md-9">
              <div class="client_detail-box">
                <h5 class="text-light">
                  Alex Du
                </h5>
                <p class="py-5 ml-2 text-light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3">
              <div class="client_img-box">
                <img src="/assets/img/school/client.png" alt="" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="client_detail-box">
                <h5 class="text-light">
                  Alex Du
                </h5>
                <p class="py-5 ml-2 text-light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <app-upcoming-event [componetType]="componentType"></app-upcoming-event>
</section>

<app-footer></app-footer>
