<section id="facts" class="wow fadeIn">
  <div class="container" (scroll)="scrollHandler($event)">
    <header class="section-header">
      <h3>Facts</h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque
      </p>
    </header>

    <div class="row counters">
      <div
        class="col-lg-3 col-6 text-center"
        *ngFor="let eventCount of EventCounter"
      >
        <span [countUp]="eventCount.total" (complete)="doSomethingOnComplete()"
          >274</span
        >
        <h6>{{ eventCount.name }}</h6>
      </div>
    </div>

    <!-- <div class="facts-img">
            <img src="assets/img/facts-img.png" alt="" class="img-fluid">
        </div> -->
  </div>
</section>
